In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('FWS_Species_Data_Explorer.csv')

In [3]:
print(df)

                             Common Name  \
0                         Abbott's booby
1                  Acklins ground iguana
2                       African elephant
3      African slender-snouted crocodile
4               African viviparous toads
...                                  ...
39572                Yuma Ridgway's rail
39573                Yuma Ridgway's rail
39574                Yuma Ridgway's rail
39575        Zanzibar red colobus monkey
39576                      Zanzibar suni

                                      Scientific Name  \
0                            Papasula (=Sula) abbotti
1                             Cyclura rileyi nuchalis
2                                  Loxodonta africana
3                             Crocodylus cataphractus
4                                Nectophrynoides spp.
...                                               ...
39572                     Rallus obsoletus yumanensis
39573                     Rallus obsoletus yumanensis
39574                     Rallus obsoletus yumanensis
39575  Procolobus (=Colobus) pennantii (=kirki) kirki
39576                   Neotragus moschatus moschatus

                         Scientific Name_url ESA Listing Status  \
0      https://ecos.fws.gov/ecp/species/1470         Endangered
1        https://ecos.fws.gov/ecp/species/27         Threatened
2      https://ecos.fws.gov/ecp/species/7724         Threatened
3      https://ecos.fws.gov/ecp/species/4118         Endangered
4      https://ecos.fws.gov/ecp/species/5734         Endangered
...                                      ...                ...
39572  https://ecos.fws.gov/ecp/species/3505         Endangered
39573  https://ecos.fws.gov/ecp/species/3505         Endangered
39574  https://ecos.fws.gov/ecp/species/3505         Endangered
39575  https://ecos.fws.gov/ecp/species/8484         Endangered
39576    https://ecos.fws.gov/ecp/species/23         Endangered

      Entity Description ESA Listing Date                      Common Name.1  \
0         Wherever found       06-14-1976                     Abbott's booby
1         Wherever found       06-22-1983              Acklins ground iguana
2         Wherever found       06-11-1978                   African elephant
3         Wherever found       03-28-1972  African slender-snouted crocodile
4         Wherever found       06-14-1976           African viviparous toads
...                  ...              ...                                ...
39572     Wherever found       03-11-1967                Yuma Ridgway's rail
39573     Wherever found       03-11-1967                Yuma Ridgway's rail
39574     Wherever found       03-11-1967                Yuma Ridgway's rail
39575     Wherever found       06-02-1970        Zanzibar red colobus monkey
39576     Wherever found       07-27-1979                      Zanzibar suni

       ECOS Species ID        Foreign or Domestic  \
0                 1470                    Foreign
1                   27                    Foreign
2                 7724                    Foreign
3                 4118                    Foreign
4                 5734                    Foreign
...                ...                        ...
39572             3505  Both Domestic and Foreign
39573             3505  Both Domestic and Foreign
39574             3505  Both Domestic and Foreign
39575             8484                    Foreign
39576               23                    Foreign

                                          Range Envelope  \
0                                                    NaN
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
39572  POLYGON((-116.4222192 32.4628236,-116.4222192 ...
39573  POLYGON((-116.4222192 32.4628236,-116.4222192 ...
39574  POLYGON((-116.4222192 32.4628236,-116.4222192 ...
39575                                                NaN
39576                                                NaN

                                         Range Shapefile  \
0                                                    NaN
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
39572  usfws_B00P_V01_Rallus_obsoletus_yumanensis_cur...
39573  usfws_B00P_V01_Rallus_obsoletus_yumanensis_cur...
39574  usfws_B00P_V01_Rallus_obsoletus_yumanensis_cur...
39575                                                NaN
39576                                                NaN

                                     Range Shapefile_url  \
0                                                    NaN
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
39572  https://ecos.fws.gov/docs/species/shapefiles/u...
39573  https://ecos.fws.gov/docs/species/shapefiles/u...
39574  https://ecos.fws.gov/docs/species/shapefiles/u...
39575                                                NaN
39576                                                NaN

                              Image URL  \
0      /docs/species_images/doc1650.jpg
1      /docs/species_images/doc1803.jpg
2      /docs/species_images/doc1458.jpg
3      /docs/species_images/doc1712.jpg
4      /docs/species_images/doc1733.jpg
...                                 ...
39572   /docs/species_images/doc946.gif
39573   /docs/species_images/doc946.gif
39574   /docs/species_images/doc946.gif
39575  /docs/species_images/doc1500.jpg
39576  /docs/species_images/doc1573.jpg

                                           Image URL_url        Image Source  \
0      https://ecos.fws.gov/docs/species_images/doc16...    Graham Robertson
1      https://ecos.fws.gov/docs/species_images/doc18...         David Blair
2      https://ecos.fws.gov/docs/species_images/doc14...  US Fish & Wildlife
3      https://ecos.fws.gov/docs/species_images/doc17...              D. Lee
4      https://ecos.fws.gov/docs/species_images/doc17...     Michele Menegon
...                                                  ...                 ...
39572  https://ecos.fws.gov/docs/species_images/doc94...                 NaN
39573  https://ecos.fws.gov/docs/species_images/doc94...                 NaN
39574  https://ecos.fws.gov/docs/species_images/doc94...                 NaN
39575  https://ecos.fws.gov/docs/species_images/doc15...  US Fish & Wildlife
39576  https://ecos.fws.gov/docs/species_images/doc15...        Josef Hlasek

      County Name State Abbreviation State Name  Is Foreign?
0             NaN                NaN        NaN         True
1             NaN                NaN        NaN         True
2             NaN                NaN        NaN         True
3             NaN                NaN        NaN         True
4             NaN                NaN        NaN         True
...           ...                ...        ...          ...
39572      Mohave                 AZ    Arizona        False
39573    Maricopa                 AZ    Arizona        False
39574         Nye                 NV     Nevada        False
39575         NaN                NaN        NaN         True
39576         NaN                NaN        NaN         True

[39577 rows x 19 columns]